<footer>
  <section class="footer-top row">
    <div class="six columns">
      <img
        src="../../images/cambridge.webp"
        alt="Cambridge logo"
        width="2089"
        height="728"
        loading="lazy"
      />
    </div>

    <div class="six columns">
      <h3>Follow Us</h3>
      <ul class="social-links">
        <li>
          <a
            href="https://web.facebook.com/sekolah.kemurnian"
            target="_blank"
            aria-label="Facebook"
            ><i class="fa fa-facebook"></i
          ></a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/sekolah.kemurnian/"
            target="_blank"
            aria-label="Instagram"
            ><i class="fa fa-instagram"></i
          ></a>
        </li>
        <li>
          <a
            href="https://www.youtube.com/results?search_query=sekolah+kemurnian"
            target="_blank"
            aria-label="YouTube"
            ><i class="fa fa-youtube"></i
          ></a>
        </li>
      </ul>
    </div>
  </section>

  <section class="footer-bottom row">
    <p>
      © 2025 Sekolah Kemurnian. All rights reserved. | Design & development by
      Digital One
    </p>
  </section>
</footer>
